.table{
    width: 100%;
    height: 100%;
    border-spacing: 0px 45px;
    padding-right: 10px;
    margin-left: -50px;
    margin-top: -40px;
      }
    .tableheader{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 127.52%;
    color: #000000;
    text-align: center;
    
  }
  .tableTextDetails{
    margin-left: 5px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    color: #0D42FF;

  }
  .tableText{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 127.52%;
    color: #000000;
    text-align: center;
  }