.giveaway{
    margin-left: 22px;
    margin-top: 18.97px;
  }
  .giveawayWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .giveawayLeft{
    width: 734.45px;
    height: 628.28px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(216, 216, 216, 0.25);
    border-radius: 20px;
    margin-right: 24.62px;
    overflow: scroll;

  }
  .giveawayLeftWrapper{
    padding-left: 61.14px;
    padding-top: 36.64px;
  }
  .topRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26.62px;
  }
  .litleFilter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 109px;
}
.filterTitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 127.52%;
    color: #000000;
    margin-right: 16px;
}
.input{
    width: 131.38px;
    height: 38.08px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-right: 9px;
    outline: none;
    padding-left: 65px;
}
.enterContainer{
display: flex;
flex-direction: column;
align-items: center;
}
.enterText{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    color: #5B5B5B;
    margin-top: -7px;
    
}
.secondRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 36px;
}
.option1{
    background-color: #5B5B5B;
    border-radius: 40px;
    padding: 7px 11px;
    margin-right: 23.14px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    border: none;
}
.option2{
    border-radius: 40px;
    padding: 7px 11px;
    margin-right: 23.14px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    border: 1px solid #000000;
    border: none;
}
  
 .changingContent{
  width: 100%;
  height: 100%;
 }
  
  .givewayRight{
    height: 628.28px;
    width: auto;    
  }
  .paymentGateway{
    height: 215.25px;
    width: 386.22px;
    background-color: #fff;
    box-shadow: 0px 5.66078px 22.6431px rgba(216, 216, 216, 0.25);
    border-radius: 28.3039px;
    margin-bottom: 40px;
  }
  .paymentGateway{
    height: 215.25px;
    width: 386.22px;
    background-color: #fff;
    box-shadow: 0px 5.66078px 22.6431px rgba(216, 216, 216, 0.25);
    border-radius: 28.3039px;
    margin-bottom: 40px;
    margin-right: 32px;
    margin-top: -65px;
  }
  .paymentGatewayWrapper{
    padding-top: 25px;
    padding-left: 35px;

  }
  .topSegment{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -25px;
  }
  .topSegmentRight{
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .topSegmentRightText{
    margin-bottom: -5px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 19.8127px;
    line-height: 30px;
    color: #5B5B5B;

  }
  .topSegmentRightAmount{
    font-family: 'Poppins';
    font-weight: 500;
    color: #678546;
    font-size: 28.3039px;
  }
  .bottomSegment{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .bottomSegmentA{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 34px;
  }
.bottomSegmentAText{
  font-family: 'Poppins';   
  font-weight: 400;
font-size: 19.8127px;
  color: #5B5B5B;
  margin-bottom: -5px;
}
.bottomSegmentAAmount{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16.9823px;
  color: #333333;
}
.bottomSegmentB{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  margin-right: 44px;
}
.bottomSegmentBText{
font-family: 'Poppins';
font-weight: 400;
font-size: 19.8127px;
color: #5B5B5B;
margin-bottom: -5px;
}
.bottomSegmentBAmount{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16.9823px;
    color: #333333;
}
.bottomSegmentC{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottomSegmentCText{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14.1519px;
  color: #678546;
  margin-right: 14px;
}
.giveawaytype{
    display: flex;
    width: 365.22px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 15px;
}
.header{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.general{
    color: #856604;
    border-bottom: 2px solid #856604;;
}
.bottomTitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: -3px;

}
.bigFilter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.bigfilterTitle{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-right: 12px;
}
.filterinput{
    width: 138px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-right: 9px;
    outline: none;
    padding-left: 65px;
}
.enterContainerFilter{
display: flex;
flex-direction: column;
align-items: center;
}
.entText{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    color: #5B5B5B;
    margin-top: -7px;
    
}
.Total{
    font-family: 'Poppins';
font-weight: 600;
font-size: 20px;
color: #000000;
margin-left: 40px;
}
.totalAmount{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}