
.PTDLHorizontalLine{
  border: 1px solid #E4E4E4;
  margin-top: 15px;
  margin-bottom: 20px;
}

.yellow{
  color: #E4A951;
}
.green{
  color: #699635;
}
.darkBrown {
  color: #A0616A;
}

.paymentTypeActive{
  color: #856604;
}

.red{
  color: #D33B23;
}

.paymentEntriesWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.paymentEntriesName{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.05em;
  color: #000000;
}
.spanTo{
  font-weight: 600;
}
.debitEntryWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.debitEntryText{
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.05em;
}