

.EscrowUsersTable{
    margin-top: 20px;
}
.EscrowUsersTableWrapper{
    padding-right: 350px ;
}
.EscrowItem1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2px;
}
.EscrowItemName{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 127.52%;
    color: #000000;
}
.spanTo{
    font-weight: 600;
}
.green {
    color: #699635;
}
.purple {
    color: #7575C2 !important; 
}
.appealShare{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.appealMessage{
    width: 295px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    text-align: justify;
}
.uploadDocumentContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}
.container1{
    background: rgba(247, 233, 189, 0.8);
    border-radius: 10px;
    width: 80px;
    height: 63px;
    margin-right: 23px;
}
.container2{
    background: rgba(247, 233, 189, 0.8);
    border-radius: 10px;
    width: 80px;
    height: 63px;
}
.containerText{
    text-align: center;
    margin-top: 22px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    color: #000000;

}
